[TODO ITEM]
    - the todos are created as instances of todoItem class
    - the todo class has following properties
        - title
        - description
        - dueDate
        - priority: defined by Eisenhower matrix values 1-2-3-4 (IU, INU, NIU, NINU)
        - notes
        - checkList
    - the todo class needs to have following functionalities/methods
        - we need to create an item -> not a method, done via creating an instance
        - set its status finished (states could be extended in the future with "in progress/blocked/etc.")
        - deleteing an item: 
            deleting an item via JavaScript is not straight forward. One cannot do "delete obj" or obj.delete()
            Workaround: set object to null, this way memory management will clean it up
        - setting its priority: needs to set property priority
        - adding notes: set content to notes property
        - todo item needs to be linked to a project instance:
            - this could be done by adding the todo item to the project instance OR 
              by giving the todo item a project property and setting the property value to the selected project



[PROJECT]  
    - [CREATE PROJECT]: creating project instances of Project class
    - [DELETE PROJECT]: deleting a project
    - [SETTING PROJECT RANK/PRIORITY]: there will be multiple projects, a ranking or priority would be useful due to displaying the projects on the menu bar.
    - [DEFAULT PROJECT]: when a new todo is created it should be added to a default project. 
      From the default project it can be moved to any user selected project

[DOM]
    -[PROJECT SELECTOR]: a project selector feature needs to be implemented. Use a select html element with the projects being the option sub elements.
     The content of the selector button changes:
        1) in page initializiation, when the exisitng projects from the local storage are loaded and 
        2) when projects are added or deleted
        Implement a function that takes care of the DOM handling. 
        1) The function needs to take the projecs from the local storage
        2) when a new project is created either the object can be used directly to create the dom element or the object needs to be storaged in the local storage
        and from there it can be taken to implement the dom logic.

